<template>
    <div>
        <h1 ref="myref">Hook tutorial</h1>
        <p>My name is: {{name}}</p>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                name: 'Ilija'
            }
        },

        beforeCreate(){
            //This method is called before created() method
            console.log(this.name);
        },

        created() {
            //This method is called before HTML DOM of template is created
            //But this hook can access all data, computed, etc. inside template
            //Call mostly initial data from it
            //Mostly used to call API data
            console.log('Data and other functions are available but not HTML', this.name);
        },

        mounted() {
            //This method is called after HTML DOM is created/rendered
            //This method can access local storage and HTML elements
            console.log(this.$refs.myref);
        }
    }
</script>

<style scoped>

</style>