<template>
    <div>
        <h1>The number is: {{ views }}</h1>
        <button @click="updateCounter(1)">Increase</button>
        <button @click="updateCounter(-1)">Decrease</button>

        <br><br><br>

        <div v-for="(blog, i) in blogs" :key="i" v-if="blogs.length">
            <h1>{{blog.title + ' ' + blog.id}}</h1>
            <p>{{blog.post + ' ' + blog.id}}</p>
        </div>

        <br><br><br>

        <div>
            <h1 v-if="showItem">Show this item if "showItem" is true</h1>
            <h1 v-else>Show this item if "showItem" is false</h1>
        </div>

        <button @click="showItem = !showItem">Change showItem</button>

    </div>
</template>

<script>
    export default {
        data(){
            return {
                views: 0,
                blogs: [],
                showItem: false,
            }
        },

        methods: {
            updateCounter(number){
                this.views += number;
            }
        },

        created() {
            //Call the server to get views of this blog post
            this.views = 100;

            //Get the blog posts
            let posts = [
                {title: 'This is blog title', post: 'This is blog post', id: 1},
                {title: 'This is blog title', post: 'This is blog post', id: 2},
                {title: 'This is blog title', post: 'This is blog post', id: 3},
                {title: 'This is blog title', post: 'This is blog post', id: 4},
            ];

            this.blogs = posts;
        }
    }
</script>